.banner-img1 {
  background-image: linear-gradient(
      rgba(142, 140, 140, 0.7),
      rgba(134, 131, 131, 0.7)
    ),
    url("image/carousel/1.jpg");
  height: 100vh;
  background-size: cover;
}
.banner-img2 {
  background-image: linear-gradient(
      rgba(142, 140, 140, 0.7),
      rgba(134, 131, 131, 0.7)
    ),
    url("image/carousel/2.jpg");
  height: 100vh;
  background-size: cover;
}
.banner-img3 {
  background-image: linear-gradient(
      rgba(142, 140, 140, 0.7),
      rgba(134, 131, 131, 0.7)
    ),
    url("image/carousel/3.jpg");
  height: 100vh;
  background-size: cover;
}
.carousel-control-prev-icon {
  background-color: rgba(205, 22, 68, 0.385);
}
.carousel-control-next-icon {
  background-color: rgba(139, 30, 52, 0.385);
}
